In [15]:
# The root dir
root = '../projectM1/'
# some names for simplicity
BeerAdvocate = root+'BeerAdvocate/'
matched_beer_data = root+'matched_beer_data/'
RateBeer = root+'RateBeer/'

## This part is some import parts that may be useful later

In [16]:
# import some necessary libraries
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from ipywidgets import interact
%matplotlib inline

## BeerAdvocate

In [21]:
ba_beers = pd.read_csv(BeerAdvocate+'beers.csv')
# drop the NaN values
ba_beers = ba_beers.dropna(axis=0, how="any")
ba_beers.head(10)

,beer_id,beer_name,brewery_id,brewery_name,style,nbr_ratings,nbr_reviews,avg,ba_score,bros_score,abv,avg_computed,zscore,nbr_matched_valid_ratings,avg_matched_valid_ratings
25,19827,Legbiter,10093,Strangford Lough Brewing Company Ltd,English Pale Ale,75,59,3.45,80.0,80.0,4.8,3.439867,-0.649167,59,3.504068
27,20842,St. Patrick's Best,10093,Strangford Lough Brewing Company Ltd,English Bitter,64,48,3.56,82.0,90.0,4.2,3.556094,-0.478579,48,3.580417
3231,18650,Tawny Owl,6872,Cotleigh Brewery,English Bitter,20,16,3.71,84.0,80.0,3.8,3.707000,-0.216512,16,3.680625
6185,21,Deep Shaft Stout,18,Freeminer Brewery Ltd.,Foreign / Export Stout,66,66,4.25,90.0,94.0,6.2,4.254848,0.751762,66,4.254848
6194,856,Shakemantle Ginger Ale,18,Freeminer Brewery Ltd.,Herbed / Spiced Beer,12,12,3.75,84.0,86.0,5.0,3.750000,-0.128881,12,3.750000
12490,68335,Tempus Reserva Especial,18412,Cerveceria Primus,Scottish Ale,21,7,3.36,81.0,77.0,6.1,3.509524,-0.643987,7,3.298571
13120,27607,Beerlao Dark,2970,Lao Brewery Co.,Euro Dark Lager,167,81,3.26,77.0,80.0,6.5,3.305329,-1.047711,86,3.285581
20678,58663,Yellowhead Premium Lager,22923,Yellowhead Brewery,Dortmunder / Export Lager,21,12,3.52,83.0,90.0,5.0,3.575714,-0.500270,13,3.593077
21808,57213,Russell Angry Scotch Ale,4045,Russell Brewing Company,Scotch Ale / Wee Heavy,99,34,3.98,88.0,90.0,6.5,3.961313,0.131123,37,3.991351
31316,774,Sapporo Reserve,284,Sapporo Breweries Ltd.,Euro Pale Lager,368,181,3.27,76.0,83.0,5.2,3.232880,-1.109183,183,3.305956

In [27]:
ba_breweries = pd.read_csv(BeerAdvocate+'breweries.csv')
ba_breweries.head(100)

,id,location,name,nbr_beers
0,39912,Kyrgyzstan,Abdysh-Ata (Абдыш Ата),5
1,39913,Kyrgyzstan,Arpa (АРПА),1
2,39914,Kyrgyzstan,Bear Beer,4
3,39915,Kyrgyzstan,Blonder Pub,4
4,39916,Kyrgyzstan,Kellers Bier,2
...,...,...,...,...
95,34614,Scotland,Glenfinnan Brewery,0
96,16502,Scotland,Glenkindie Arms Hotel / Old Foreigner Brewery,0
97,47786,Scotland,Grunting Growler,2
98,3398,Scotland,Harbour Bar / Fyfe Brewing Company,1
99,323,Scotland,Harviestoun Brewery Ltd.,74

In [41]:
ba_users = pd.read_csv(BeerAdvocate+'users.csv')
ba_users = ba_users[(ba_users['nbr_ratings']>0) & (ba_users['nbr_reviews']==0)]
ba_users.head(100)

,nbr_ratings,nbr_reviews,user_id,user_name,joined,location
5,2326,0,hellpop65.48993,Hellpop65,1.131966e+09,"United States, Kansas"
6,3098,0,latarnik.52897,Latarnik,1.133521e+09,"United States, New Jersey"
14,154,0,swungomonkey.698859,swungomonkey,1.350122e+09,NaN
18,10,0,samurai221.575106,samurai221,1.299150e+09,"United States, Virginia"
20,231,0,friedgold2112.672227,FriedGold2112,1.334225e+09,NaN
...,...,...,...,...,...,...
518,164,0,rpopescu.566103,rpopescu,1.297508e+09,Netherlands
523,4,0,craftbeernut.669575,CraftBeerNut,1.332842e+09,NaN
530,996,0,bf_89.740295,Bf_89,1.373018e+09,Canada
532,53,0,danielfda.778336,danielfda,1.390648e+09,Italy
541,120,0,sjjn.6634,sjjn,1.086343e+09,"United States, New York"

In [ ]:
## RateBeer