In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
%matplotlib inline

In [2]:
!pwd

/Users/zhangyuyao/Desktop/Exchange EPFL/2022/projectM1

In [3]:
data_root = 'ratings/'
ba = os.path.join(data_root + "data_ba/")
rb = os.path.join(data_root + "data_rb/")

In [4]:
ba_files = os.listdir(ba)
ratings_ba = pd.read_csv(ba + ba_files[0])
ratings_ba.drop(columns=['Unnamed: 0'], inplace=True)
for file in ba_files[1:]:
    temp = pd.read_csv(ba + file)
    temp.drop(columns=['Unnamed: 0'], inplace=True)
    ratings_ba = pd.concat([ratings_ba, temp])
ratings_ba

,beer_name,beer_id,brewery_name,brewery_id,style,abv,date,user_name,user_id,appearance,aroma,palate,taste,overall,rating,text,review
0,Régab,142544,Societe des Brasseries du Gabon (SOBRAGA),37262,Euro Pale Lager,4.5,1440064800,nmann08,nmann08.184925,3.25,2.75,3.25,2.75,3.0,2.88,"From a bottle, pours a piss yellow color with ...",True
1,Barelegs Brew,19590,Strangford Lough Brewing Company Ltd,10093,English Pale Ale,4.5,1235127600,StJamesGate,stjamesgate.163714,3.00,3.50,3.50,4.00,3.5,3.67,Pours pale copper with a thin head that quickl...,True
2,Barelegs Brew,19590,Strangford Lough Brewing Company Ltd,10093,English Pale Ale,4.5,1142247600,mdagnew,mdagnew.19527,4.00,3.50,3.50,4.00,3.5,3.73,"500ml Bottle bought from The Vintage, Antrim.....",True
3,Barelegs Brew,19590,Strangford Lough Brewing Company Ltd,10093,English Pale Ale,4.5,1101898800,helloloser12345,helloloser12345.10867,4.00,3.50,4.00,4.00,4.5,3.98,Serving,True
4,Barelegs Brew,19590,Strangford Lough Brewing Company Ltd,10093,English Pale Ale,4.5,1093860000,cypressbob,cypressbob.3708,4.00,4.00,4.00,4.00,4.0,4.00,"500ml bottlePours with a light, slightly hazy ...",True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499995,Schell's Maifest,2268,August Schell Brewing Company,417,Maibock / Helles Bock,6.2,1321441200,doucmehu,doucmehu.433248,NaN,NaN,NaN,NaN,NaN,4.00,NaN,False
499996,Schell's Maifest,2268,August Schell Brewing Company,417,Maibock / Helles Bock,6.2,1306576800,TheQuietMan22,thequietman22.288596,3.00,2.00,3.00,2.00,2.0,2.16,Appearance,True
499997,Schell's Maifest,2268,August Schell Brewing Company,417,Maibock / Helles Bock,6.2,1306058400,MattyG85,mattyg85.497925,4.00,4.00,4.00,4.00,4.0,4.00,Poured from 12 oz. bottle into a Sam Adams pin...,True
499998,Schell's Maifest,2268,August Schell Brewing Company,417,Maibock / Helles Bock,6.2,1305972000,PokerGod,pokergod.528714,3.00,4.00,3.50,3.50,3.5,3.59,12 oz bottle (amber) poured into a Nonic Glass...,True
499999,Schell's Maifest,2268,August Schell Brewing Company,417,Maibock / Helles Bock,6.2,1303812000,homersimpson67,homersimpson67.514555,3.50,3.50,3.50,4.00,3.5,3.70,"Pours a nice copper, gold...with a finger of h...",True

In [5]:
ratings_ba.groupby('brewery_name').nunique().head(5)

,beer_name,beer_id,brewery_id,style,abv,date,user_name,user_id,appearance,aroma,palate,taste,overall,rating,text,review
brewery_name,,,,,,,,,,,,,,,,
#Freedom Brewery,3,3,1,2,3,13,10,10,4,6,6,4,5,9,4,2
'A Magara,3,3,1,2,3,3,1,1,3,2,3,3,3,3,3,1
't Hofbrouwerijke,24,24,1,13,13,180,149,149,10,9,11,10,9,81,75,2
(512) Brewing Company,57,57,1,19,20,1418,1344,1344,14,15,16,16,17,206,542,2
1 Dampfbierbrauerei Zwiesel GmbH & Co.KG,5,5,1,4,3,31,28,28,8,9,9,6,7,28,21,2

## Split users by regions

In [25]:
user_root = 'BeerAdvocate/'
users_path = os.path.join(user_root + 'users.csv')
users = pd.read_csv(users_path)

In [26]:
users.head()

,nbr_ratings,nbr_reviews,user_id,user_name,joined,location
0,7820,465,nmann08.184925,nmann08,1.199704e+09,"United States, Washington"
1,2521,2504,stjamesgate.163714,StJamesGate,1.191838e+09,"United States, New York"
2,1797,1143,mdagnew.19527,mdagnew,1.116410e+09,Northern Ireland
3,31,31,helloloser12345.10867,helloloser12345,1.101380e+09,Northern Ireland
4,604,604,cypressbob.3708,cypressbob,1.069326e+09,Northern Ireland

In [30]:
count_by_region = users.groupby('location').count()
count_by_region

                nbr_ratings  nbr_reviews  user_id  user_name  joined
location
Afghanistan               5            5        5          5       5
Albania                   1            1        1          1       1
American Samoa            4            4        4          4       4
Andorra                   3            3        3          3       3
Angola                    1            1        1          1       1
...                     ...          ...      ...        ...     ...
Vanuatu                   2            2        2          2       2
Venezuela                 6            6        6          6       6
Vietnam                   7            7        7          7       7
Wales                    32           32       32         32      32
Zimbabwe                  1            1        1          1       1

[194 rows x 5 columns]

In [31]:
users_100 = count_by_region[(count_by_region.nbr_ratings>100)]

In [32]:
users_100

,nbr_ratings,nbr_reviews,user_id,user_name,joined
location,,,,,
Australia,520,520,520,520,520
Belgium,227,227,227,227,227
Brazil,267,267,267,267,267
Canada,3324,3324,3324,3324,3324
England,791,791,791,791,791
...,...,...,...,...,...
"United States, Virginia",3604,3604,3604,3604,3604
"United States, Washington",2891,2891,2891,2891,2891
"United States, West Virginia",375,375,375,375,375
"United States, Wisconsin",2375,2375,2375,2375,2375
"United States, Wyoming",103,103,103,103,103

In [35]:
users_100_list = users_100.index.to_list()

In [36]:
users_100_list

['Australia',
 'Belgium',
 'Brazil',
 'Canada',
 'England',
 'France',
 'Germany',
 'Ireland',
 'Italy',
 'Japan',
 'Mexico',
 'Netherlands',
 'Norway',
 'Russia',
 'Spain',
 'Sweden',
 'United States, Alabama',
 'United States, Alaska',
 'United States, Arizona',
 'United States, Arkansas',
 'United States, California',
 'United States, Colorado',
 'United States, Connecticut',
 'United States, Delaware',
 'United States, Florida',
 'United States, Georgia',
 'United States, Hawaii',
 'United States, Idaho',
 'United States, Illinois',
 'United States, Indiana',
 'United States, Iowa',
 'United States, Kansas',
 'United States, Kentucky',
 'United States, Louisiana',
 'United States, Maine',
 'United States, Maryland',
 'United States, Massachusetts',
 'United States, Michigan',
 'United States, Minnesota',
 'United States, Mississippi',
 'United States, Missouri',
 'United States, Montana',
 'United States, Nebraska',
 'United States, Nevada',
 'United States, New Hampshire',
 'United States, New Jersey',
 'United States, New Mexico',
 'United States, New York',
 'United States, North Carolina',
 'United States, North Dakota',
 'United States, Ohio',
 'United States, Oklahoma',
 'United States, Oregon',
 'United States, Pennsylvania',
 'United States, Rhode Island',
 'United States, South Carolina',
 'United States, South Dakota',
 'United States, Tennessee',
 'United States, Texas',
 'United States, Utah',
 'United States, Vermont',
 'United States, Virginia',
 'United States, Washington',
 'United States, West Virginia',
 'United States, Wisconsin',
 'United States, Wyoming']